:root {
    /* Kleuren */
    --color-primary: #DE004F;
    --color-secondary: #FDF7F9;
    --color-accent1: #607D8A;
    --color-accent2: #90A3AE;

    --text-white: #FFF;
    --text-black: #000;
    --text-gray: #A8A8A8;
  
    /* Typografie */
    --font-main: 'Poppins', sans-serif;
    --font-size-base: 18px;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.2rem;
  
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;

      /* Border radius */
    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;
    --radius-full: 9999px; /* Voor pill- of ronde vormen */
  }
  